/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --primary-color: #7893aa9c;
  --branding-color: #202639;
  --default-text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  color: var(--default-text-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
  line-height: 1.5;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.logo,
.logo:hover {
  color: var(--default-text-color);
  text-decoration: none;
  padding-top: 3px;
  font-size: 24px;
  max-width: 150px;
}
nav {
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
}

.navi-link:hover,
nav li.active a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content {
  margin: 36px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 60px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 60px;
}

.project-description {
  padding: 120px 60px;
}

.work-inquiry {
  background: var(--primary-color);
  margin: 20px;
}

.contact-btn {
  margin: 45px;
}

.contact-btn:hover {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}

.project-images {
  object-fit: cover;
  width: 560px;
  height: 560px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 7px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--default-text-color);
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--primary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
  transition: 100ms all ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  h2 {
    font-size: 35px;
  }

  .hero {
    padding: 80px 10px;
  }
  .hero p {
    font-size: 25px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .navi-link {
    font-size: 12px;
  }

  footer .contact-box {
    padding: 30px;
  }

  footer a.email-link {
    font-size: 18px;
  }
}
